<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/kklldog/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="kklldog" />
      <add key="ClearTextPassword" value="434336c4898cb08b6f14458853bbbb5e2285a7e8" />
    </github>
  </packageSourceCredentials>
</configuration>